<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs
	================================================== -->

	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58825206-1', 'auto');
  ga('send', 'pageview');

</script>

	<meta name="google-site-verification" content="ioo6yArpwFQP027p3RaByRDaxYg2axx0ZT1974LSvjg" />
	<meta charset="utf-8">
	<title>Metro Vancouver Sundecks</title>
	<link rel="shortcut icon" href="/img/favicon.png" />
	<meta name="description" content="Metro Vancouver Sundecks provides vinyl and railing solutions to North Vancouver, West Vancouver or within any of the surrounding areas, Langley, Chilliwack, Abbotsford, White Rock, New Westminster, Port Coquitlam, Maple Ridge, Burnaby or any other areas in Metro Vancouver. top deck installation / deck repair company. Click or call 778-918-8744. Free estimates. Professional vinyl decking experts.">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald|Open+Sans:400italic,600italic,700italic,400,700,600">
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/skeleton.css">
	<link rel="stylesheet" href="/css/layout.css">



	<!-- JS
	================================================== -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="/js/slider.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
   
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<script>
		$(document).ready(function(){
			
			// Code for Mobile Menu, shows up on small screen resolutions
			$('.expand-menu').click(function(e){
				e.preventDefault();
				$(this).toggleClass('open');
				if($('nav.small.top ul').is(':hidden')){
					$('nav.small.top ul').slideDown();
				}else{
					$('nav.small.top ul').slideUp();
				}
				
			});
			// --
			
			// Script to init slider. You can edit it from "/js/slider.js"
			$('.slider').startSlider();
			// --				
			
    		var logout = '{module_logout}';
			if(logout !== '')
			{
				$('nav.top.small ul').append('<li>{module_logout}</li>');
				$('nav.top.main ul').append('<li>{module_logout}</li>');
			}
			
		});
	</script>

</head>
<body>

	<!-- Primary Page Layout
	================================================== -->


<div class="social-media">
<a href="https://www.facebook.com/metrovancouversundecks?ref=aymt_homepage_panel" target="_blank"><img src="/img/fb_1.png" alt="metro vancouver sundecks facebook"></a>
<a href="https://plus.google.com/105445474735807549843/posts" target="_blank"><img src="/img/google_plus.png" alt="metro vancouver sundecks google plus"></a>
<a href="https://www.youtube.com/channel/UCAaxoHUIe58PhowUPukLeDA" target="_blank"><img src="/img/you_tube.png" alt="metro vancouver sundecks youtube"></a>
</div>


	<nav class="small top">


		<form name="catsearchform24316" method="post" action="/Default.aspx?SiteSearchID=2465&PageID=9154318">
			<div class="search-box">
				<input type="text" name="CAT_Search" id="CAT_Search" />
				<input class="cat_button" type="submit" value="Search" />
			</div>
		</form>
		
		<a href="#" class="expand-menu"></a>
		<div class="clear"></div>
		{module_menu,1337216}
	</nav>

	<section class="container">
	<div class="container logo seven columns">
		<a href="index.html"><img src="/img/p-d-sundecks-logo.png" alt="p and d sundecks logo"></a>
		</div>
		<div class="eight columns">
			<nav class="main top">
				{module_menu,1336130}
			</nav>
		</div>
		<div class="four columns">
			<form name="catsearchform24316" method="post" action="/Default.aspx?SiteSearchID=2465&PageID=9154318" class="big-search">
				<div class="search-box">
					<input type="text" name="CAT_Search" id="CAT_Search" />
					<input class="cat_button cat_button_home" type="submit" value="Search" />
				</div>
			</form>
		</div>

	</section><!-- end .container -->

	<header class="main">
		<div class="container">
			<div class="twelve columns">				
				<h1>Metro Vancouver vinyl and railings.</h1>
				<h3>With 10 years+ experience we can bring you top of the line waterproofing solutions.</h3>
			</div>
		</div>
	</header><!-- end .main -->
	
	{tag_pagecontent}
	
	<footer>
		<div class="container">
			<hr>
			<div class="nine columns">
				<nav>
					{module_menu,1336130}
				</nav>
			</div>
			<div class="three columns">
				Design and Development by <a target="_blank" href="http://www.pillarcreation.ca" class="powered">&#169;Pillar Creation</a>
			</div>
		</div>
	</footer>

	<!-- Script for retina images -->
	<script type="text/javascript" src="/js/retina.js"></script>
	
<!-- End Document
================================================== -->
</body>
</html>